:root {
  --title-color: #212121;
  --accent-color: #2196F3;
  --button-bg-color: #F5F4FA;
  --main-button-color:#212121;
  --second-button-color:#ffffff;
  --typical-margin: 10px;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  background-color: #fff;
}

.logo--dark {
  color: #000;
}

.logo--light {
  color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: none;
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: none;
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  padding: 10px 0 48px;
}
.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-list {
  list-style: none;
  margin-bottom: 32px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}
.mob-menu-link.curent {
  color: var(--accent-color);
}

.mob-contacts {
  list-style: none;
}

.mob-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mob-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mob-soc-list {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin-top: 64px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  text-decoration: none;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link.curent {
  color: var(--accent-color);
}
.nav__link.curent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -40px;
}
@media screen and (min-width: 1200px) {
  .nav__link.curent::after {
    bottom: -33px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: var(--typical-margin);
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-left: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  display: flex;
  align-items: baseline;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: var(--typical-margin);
  fill: currentColor;
}

.hero {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 118px 0;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob-3x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-tab-3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-3x.jpg);
  }
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #FFFFFF;
  color: #2196F3;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__link {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  cursor: auto;
}

.benefit__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: var(--typical-margin);
}
@media screen and (min-width: 768px) {
  .benefit__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__title {
    text-align: left;
  }
}

.benefit__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about__item {
  position: relative;
}

.about__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 90px) / 4);
  }
}

.cards__wrap {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .cards__wrap {
    padding-bottom: 30px;
  }
}

.cards__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: var(--typical-margin);
}

.cards__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.soc {
  list-style: none;
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: var(--typical-margin);
}
.soc__item:last-child {
  margin-right: 0;
}

.soc__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196F3;
}

.soc__icon {
  fill: #AFB1B8;
}
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon {
  fill: #FFFFFF;
}

.clients {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  list-style: none;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers__icon {
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #2196F3;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__filter {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  background-color: var(--button-bg-color);
  color: var(--main-button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  width: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  list-style: none;
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}
.projects__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__top-wrap {
  position: relative;
  overflow: hidden;
}

.projects__top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__top-text {
  transform: translateY(0);
}

.projects__item-wrap {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.projects__link {
  text-decoration: none;
  display: block;
}

.projects__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-color);
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__list {
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__item.postal {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #FFFFFF;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link.postal {
  color: #FFFFFF;
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join {
    margin: 0;
  }
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.join__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.join__item {
  width: 44px;
  height: 44px;
  margin-right: var(--typical-margin);
}
.join__item:last-child {
  margin-right: 0;
}

.join__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: #2196F3;
}

.join__icon {
  fill: #FFFFFF;
}
.join__link:hover .join__icon, .join__link:focus .join__icon {
  fill: #FFFFFF;
}

.subcrib {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .subcrib {
    margin-right: 0;
  }
}

.subcrib__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subcrib-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 16px;
  color: #FFFFFF;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subcrib-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subcrib-form__input {
    width: 358px;
    margin-right: 12px;
  }
}
.subcrib-form__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}
.subcrib-form__input:hover, .subcrib-form__input:focus {
  border-color: var(--accent-color);
}

.subcrib-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subcrib-btn {
    display: inline-flex;
  }
}
.subcrib-btn:hover, .subcrib-btn:focus {
  background-color: #FFFFFF;
  color: #2196F3;
  fill: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subcrib-btn__icon {
  margin-left: var(--typical-margin);
  fill: #FFFFFF;
}
.subcrib-btn:hover .subcrib-btn__icon, .subcrib-btn:focus .subcrib-btn__icon {
  fill: #2196F3;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 16, 0.5);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 450px;
  min-height: 609px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-field {
  margin-bottom: var(--typical-margin);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  align-items: center;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-input {
  padding: 12px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
}
.modal-input:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-input:not(:placeholder-shown):not(:focus):valid + .modal-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--title-color);
}
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-field-text {
  margin-bottom: 20px;
}

.modal-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.modal-text:not(:placeholder-shown) {
  border-color: var(--accent-color);
}
.modal-text:hover, .modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.modal-field-check {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.modal-chek-link {
  color: #2196F3;
  margin-left: 5px;
}

.check-icon {
  fill: transparent;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #FFFFFF;
  color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */