.contacts {
    display: none;
    @include tablet {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;}
    @include desktop {
        flex-direction: row;
        align-items: center;
    }
}
.contacts__item:not(:last-child) {
    margin-bottom: var(--typical-margin);
    @include desktop {
        margin-bottom: 0;}
}
.contacts__item:last-child {
    @include desktop {        
        margin-left: 30px;
    }
}
.contacts__link {
    @include fonts(500, 12px, 1.17, 0.02em);
    @include desktop {
    @include fonts(null, 14px, 1.14, null);}
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: baseline;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.contacts__icon {
    margin-right: var(--typical-margin);
    fill: currentColor;    
}