.logo {
    @include fonts(700, 24px, 1.17, 0.03em);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #2196F3;
    @include desktop {
        @include fonts(null, 26px, 1.19, null);
    }
}

.header__logo {
    @include desktop {
        margin-right: 93px;
    }    
}