.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 16, 16, 0.5);
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms;
}
.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    transition: transform 250ms;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
}
.modal-close-btn {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-field {
    margin-bottom: var(--typical-margin);
}
.modal-label {
    @include fonts(400, 12px, 1.17, 0.01em);
    // font-weight: 400;
    // font-size: 12px;
    // line-height: calc(14 / 12);
    // letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}
.modal-title {
    @include fonts(700, 20px, 1.15, 0.03em);
    margin-bottom: 30px;
    // font-size: 20px;
    // font-weight: 700;
    // line-height: calc(23 /20);
    text-align: center;
    align-items: center;
    // letter-spacing: 0.03em;
    color: var(--title-color);
}

.modal-input {
    padding: 12px 16px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 14px;
    }
    &:not(:placeholder-shown):not(:focus):valid {
        border-color: var(--accent-color);
        fill: var(--accent-color);
    }
    &:not(:placeholder-shown):not(:focus):valid +.modal-icon {
            fill: var(--accent-color);
    }
}

.input-wrap {
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--title-color);
    .modal-input:hover + &,
    .modal-input:focus + & {
    fill: var(--accent-color);
    }
}

.modal-field-text {
    margin-bottom: 20px;
}

.modal-text {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    &:not(:placeholder-shown) {
        border-color: var(--accent-color);        
    }
    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }
    &:not(:placeholder-shown) {
        border-color: var(--accent-color);
    }
}

.modal-field-check {
    margin-bottom: 30px;
}
.check-text {
    @include fonts(400, 14px, 1.71, 0.03em);
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 8px;
        display: flex; 
        align-items: center;
        justify-content: center;
        .modal-check:checked + & {
            background-color: var(--accent-color);
            border: none;}
    }
    .modal-check:checked + & .check-icon {
        fill: #ffffff;
    }
}
.modal-chek-link {
    color: #2196F3;
    margin-left: 5px;
}

.check-icon {
    fill: transparent;
}

.modal-btn {
    @include fonts(700, 16px, 1.88, 0.06em);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #FFFFFF;
        color: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}