.team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
        }
}
.team__title {
    @include fonts(null, 28px, 1.18, 0.03em);
    text-align: center;
    color: var(--title-color);
    margin-bottom: 30px;        
    @include desktop {
        @include fonts(null, 36px, 1.17, null);
        margin-bottom: 50px;
        }
}
.team__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cards__item {
    list-style: none;
    width: 100%;    
    @include tablet {
        width: calc((100% - 30px) /2);
      }    
    @include desktop {
        width: calc((100% - 90px) /4);
        }
}
.cards__wrap {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
        
    @include desktop {
        padding-bottom: 30px;
        }
}
.cards__title {
    @include fonts(500, 16px, 1.19, 0.03em);
    text-align: center;
    color: var(--title-color);    
    margin-bottom: var(--typical-margin);
}
.cards__text {
    @include fonts(null, 16px, 1.19, 0.03em);
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
}