:root {
    --title-color: #212121;    
    --accent-color: #2196F3;
    --button-bg-color: #F5F4FA;   
    --main-button-color:#212121;
    --second-button-color:#ffffff;
    --typical-margin: 10px;
}